#nav_menu {
    background-color: #404c40;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#nav_menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
    
}
#nav_menu ul li {
    display: inline;
    padding: 2px 10px;
}
#nav_menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
#nav_menu ul li a:hover {
    color: #6e0a3c;
}

body {
    border-radius: 15px;;
}

.grid-box {
   text-align: center;
   transition: transform 0.3s;
}
.grid-box:hover {
   transform: scale(1.05);
}
.grid-container { /* Container for the grid */
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
      gap: 20px; 
      padding: 20px;
    }

    /* Individual boxes */
    .grid-box {
      background-color: #404c40;
      color: white;
      padding: 40px;
      text-align: center;
      font-size: 18px;
      border-radius: 10px;
      transition: transform 0.3s, background-color 0.3s;
    }

    

   
    @media (max-width: 500px) {
      .grid-box {
        font-size: 16px;
        padding: 30px;
      }
    }