body {
    background-image: url('https://github.com/user-attachments/assets/4dab2dc4-8cb6-4c04-a45c-653b3c01ba97');
    background-size: cover;

    color: Lime;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 120px;
    padding-top: 5px;   
    background: linear-gradient(
        45deg, red 50%, red 0%, blue 50%, blue 0% yellow 50%, green 50%
        
    );   
}
h1 {
    color: Orange;
    text-align: left;
    margin-left: 50px;
    padding: 30px; 
}
p {
    font-size: 20px;
    margin-left: 50px;
    padding: 20px 80px 5px 80px;
    background-color: purple;
    border: 80px solid Lime;
}   
li {
    font-size: 18px;
    margin-left: 70px;
    padding: 8px;
}
img {
    border:8px solid pink;
    margin-left: 250px;
    margin-top: -20px;
    width: 300px;
    height: 180px;    
}

aside {
    color: white;
    font-size: 18px;
    background-color: 120px dotted lime;
    margin: 50px;
    padding: 20px;
}
div {
    border: 50px dashed orange;
    margin: 40px;
    padding: 30px;
    background-color: black;
}