body {
    background-image: url('https://media.istockphoto.com/id/1147548222/vector/seamless-halloween-pattern-with-cute-ghosts-bats-and-pumpkins-on-dark-background.jpg?s=612x612&w=0&k=20&c=J1YkY8bXKXJH6YJ5bX4Z9I3u0k8n5V3yQX1F6q3v1nU=');
    background-siza: half;
    background-color: Black;
    color: Lime;
    font-family: 'Courier New', Courier, monospace;
    margin: 0px;
    padding: 120px;
    padding-top: 5px;   
}
h1 {
    color: Orange;
    text-align: left;
    margin-left: 50px;
    padding: 30px; 
}
p {
    font-size: 20px;
    margin-left: 50px;
    padding: 20px 80px 5px 80px;
    background-color: purple;
    border: 2px solid Lime;
}   
li {
    font-size: 18px;
    margin-left: 70px;
    padding: 8px;
}
img {
    border:8px solid pink;
    margin-left: 250px;
    margin-top: -20px;
    width: 300px;
    height: 180px;    
}
