
 .conatainer {
       width: 80%;         /* page takes up to 80 percent of the browser width*/
       max-width: 800px;    /* doesnt let it get to wide*/
       margin: 0 auto;     /* centers horizontally*/
       text-align: center; /*  center text and in line elements like the imiages*/
 }     
body { 
  text-align: center; 
}
p { 
  font: normal 30px/2 "Helvetica", Arial, sans-serif; 
  color: #464646; 
  background-color: rgba(0, 128, 255, 1);
}
.id { 
  margin-bottom 15px; 
}

