
 

body { 
 font-family: 'Fredoka One', sans-serif;
 background-color: #b8889f; /*page back ground*/
 color: #c287a5;   /* default text color*/
 text-align: auto; 
}
 h1 {
  color: #af73b3;
  font-size:2.5em;
  margin-bottom: 10px;
 }

#main-title {
 text-shadow: 2px 2px #f18595;
}
 h2{
  color: #a24373;
  font-size: 1.8em;
  margin-bottom: 15px;
 }

.container {
       width: 80%;         /* page takes up to 80 percent of the browser width*/
       max-width: 1200px;    /* doesnt let it get to wide*/
       margin: 0 auto;     /* centers horizontally*/
       text-align: center; /*  center text and in line elements like the imiages*/
        padding: 20px; 
        background-color: #f7cdda; 
       border-radius: 15px; 
}
p { 
  font-family: 'Fredoka One', sans-serif; 
  color: #5e374b; 
  background-color: rgb(173, 98, 139);
}

li{
 font-size: 18px;
 margin-bottom: 10px;
 color: #a64ca6;
 line-height: 1.5;
}

img {
 width: 200px;
 height: auto;
 border: 2px solid rgb(115, 66, 90);
 border-radius: 10px;
 margin: 10px;
}

.container img {
 width:200px;
 height:auto;
 border:2px solid #8e3f67;
 border-radius: 15px;
}

footer {
 margin-top: 20px;
 color: #db95ba;
 font-size: 14px;
}

.id { 
  margin-bottom: 15px; 
}

#nav_menu {
    background-color: #a65e94;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 10px;
}
#nav_menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}
#nav_menu ul li {
    display: inline;
    padding: 2px 10px;
}
#nav_menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
    font-family: 'Fredoka One', sans-serif;
}
#nav_menu ul li a:hover {
    color: #914068;
}


