#nav_menu {
    background-color: #3f396b;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 15px;
}
#nav_menu ul {
    list-style-type: none;
    text-align: center;
    margin: 0;
    padding: 1em;
    display: flex;
    justify-content: center;
    gap: 20px;
    border-top: black 2px solid;
    border-bottom: black 2px solid;
}
#nav_menu ul li {
    display: inline;
    padding: 2px 10px;
}
#nav_menu ul li a {
    text-decoration: none;
    color: #000000;
    font-weight: bold;
    font-size: 18px;
}
#nav_menu ul li a:hover {
    color: #95b1c7;
}

h2{
  color: #343967;
  font-size: 1.8em;
  margin-bottom: 15px;
  border-radius: 15px;
 }

 p { 
  font-family: 'Fredoka One', sans-serif; 
  color: #292140; 
  background-color: rgb(99, 98, 173);
  padding: 10px;
  border-radius: 15px;

}
img {
 width: 200px;
 height: auto;
 border: 2px solid rgb(63, 54, 118);
 border-radius: 10px;
 margin: 10px;
}

.container img {
 width:200px;
 height:auto;
 border:2px solid #443e81;
 border-radius: 15px;
}

footer {
 margin-top: 20px;
 color: #3b3070;
 font-size: 14px;
}

.id { 
  margin-bottom: 15px; 
}

body { 
 font-family: 'Fredoka One', sans-serif;
 background-color: #5b57c9; /*page back ground*/
 color: #2e2656;   /*default text color*/
 text-align: auto; 
 border-radius: 15px;
}

 h1 {
  color: #3c3268;
  font-size:2.5em;
  margin-bottom: 10px;
  border-radius: 15px;
 }

#main-title {
 text-shadow: 2px 2px #514f86;
}
 h2{
  color: #3e4465;
  font-size: 1.8em;
  margin-bottom: 15px;
  border-radius: 15px;
 }

.container {
       width: 80%;         /* page takes up to 80 percent of the browser width*/
       max-width: 1200px;    /* doesnt let it get to wide*/
       margin: 0 auto;     /* centers horizontally*/
       text-align: center; /*  center text and in line elements like the imiages*/
        padding: 20px; 
        background-color: #7e9dbf; 
       border-radius: 15px; 
       
}

li {
 font-size: 18px;
 margin-bottom: 10px;
 color: #4d44ae;
 line-height: 1.5;
 border-radius: 15px;
}

.column {
    flex: 1;
    background-color: #8a8dbb;
    padding: 15px;
    border: 5px  rgb(5, 1, 1);
    border-radius: 15px;
}

.responsive-img {
  max-width: 100%; /* image will never be wider than its container */
  height: auto;    /* keeps aspect ratio */
}
.iframe {
    position: relative;
    width: 100%;
    max-width: 560px; /* Set the maximum width of the iframe */
    margin: auto; /* Center the iframe */
}